{% extends 'baseSysView.html.twig' %}


{% block head %}
	{{ parent() }}
	<link href="{{ asset('css/boxStyles.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/feedbackStyles.css') }}" rel="stylesheet" />
{% endblock %}


{% block headerBar %}
	{% include 'sysHeaderBar.html.twig'%}
{% endblock %}


{% block content %}
	
	{% if app.session.flashBag.peek('warnings') is not empty or app.session.flashBag.peek('errors') is not empty or app.session.flashBag.peek('successes') is not empty %}
		<div class="container listFeedbackContainer">

			{% for flashMessage in app.session.flashBag.get('successes') %}
			    <div class="listFeedbackRow listFeedbackRowSuccess">
					<div class="listFeedbackRowTitle">SUCCESS</div>
					<div class="listFeedbackRowBody">  {{ flashMessage }}  </div>
				</div>
			{% endfor %}

			{% for flashMessage in app.session.flashBag.get('warnings') %}
			    <div class="listFeedbackRow listFeedbackRowWarning">
					<div class="listFeedbackRowTitle">WARNING</div>
					<div class="listFeedbackRowBody">  {{ flashMessage }}  </div>
				</div>
			{% endfor %}

			{% for flashMessage in app.session.flashBag.get('errors') %}
			    <div class="listFeedbackRow listFeedbackRowError">
					<div class="listFeedbackRowTitle">ERROR</div>
					<div class="listFeedbackRowBody">  {{ flashMessage }}  </div>
				</div>
			{% endfor %}

		</div>
	{% endif %}

	<div class="container">

		{% block boxContainers %}
		{% endblock %}

	</div>

{% endblock %}