{% extends 'baseSysListView.html.twig' %}


{% block head %}
	{{ parent() }}
	<link href="{{ asset('css/completeRequestListStyles.css') }}" rel="stylesheet" />
{% endblock %}


{% block title 'Manage Completed Requests' %}


{% block listHeadRow %}
	<div class="checkBoxColumn listHeadRowCell"></div>
	<div class="customerColumn listHeadRowCell">Customer</div>
	<div class="portersColumn listHeadRowCell">Porters</div>
	<div class="cityColumn listHeadRowCell">Rep City</div>
	<div class="serviceColumn listHeadRowCell">Service</div>
	<div class="startDateColumn listHeadRowCell">Start Date</div>
	<div class="estDurationColumn listHeadRowCell">Est. Duration</div>
	<div class="detailsColumn listHeadRowCell">Details</div>
{% endblock %}

{% block listRows %}
	{{ form_start(listForm) }}
		{% for request in listForm.entities %}
			<div class="listRow">
				<div class="checkBoxColumn listRowCell">  {{ form_row(request.checked) }}  </div>
				<div class="customerColumn listRowCell">
					{% if request.vars.value.entity.customer is not null %}
						{{ request.vars.value.entity.customer.fullName }}
					{% endif %}
				</div>
				<div class="portersColumn listRowCell">  {{ request.vars.value.entity.assignedPorterCount }}  </div>
				<div class="cityColumn listRowCell">
					{% if request.vars.value.entity.repCity is not null %}
						{{ request.vars.value.entity.repCity.nameAndDetails }}
					{% endif %}
				</div>
				<div class="serviceColumn listRowCell">
					{% if request.vars.value.entity.service is not null %}
						{{ request.vars.value.entity.service.name }}
					{% endif %}
				</div>
				<div class="startDateColumn listRowCell">  {{ request.vars.value.entity.requestStartDateTime|date('Y-m-d H:i') }}  </div>
				<div class="estDurationColumn listRowCell">  {{ request.vars.value.entity.estDuration }} min</div>
				<div class="detailsColumn listRowCell">
					<a href="{{ path('requests_controller_details', {'filter_': 'complete', 'id_': request.id.vars.value }) }}">details</a>
				</div>
				{{ form_row(request.id) }}
				{{ form_row(request.doctrinePath) }}
				{{ form_row(request.entityClass) }}
			</div>
		{% endfor %}

		<div class="listRow">
			{{ form_row(listForm.listFunction) }}
			{{ form_row(listForm.delete) }}
		</div>
	{{ form_end(listForm) }}
{% endblock %}