{% extends 'baseSysFullView.html.twig' %}


{% block title 'Update Worked Request' %}


{% block boxContainers %}
	{{ form_start(listForm) }}

		{% for request in listForm.entities %}
			{{ form_row(request.rId) }}

			<div class="boxContainer">
				<div class="boxHeader">Update Worked Request #{{ request.vars.value.rId }}</div>

				<div class="boxContentContainer">

					<div class="boxContentHeader">Customer Information</div>
					<div class="boxContentGroup">
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Email:</div>
							<div class="boxContentGroupCellValue">
								{% if customer is not null %}
									{{ customer.email }}
								{% endif %}
							</div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">First Name:</div>
							<div class="boxContentGroupCellValue">
								{% if customer is not null %}
									{{ customer.firstName }}
								{% endif %}
							</div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Last Name:</div>
							<div class="boxContentGroupCellValue">
								{% if customer is not null %}
									{{ customer.lastName }}
								{% endif %}
							</div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Cell Phone:</div>
							<div class="boxContentGroupCellValue">
								{% if customer is not null %}
									{{ customer.mobilePhone }}
								{% endif %}
							</div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Home Phone:</div>
							<div class="boxContentGroupCellValue">
								{% if customer is not null %}
									{{ customer.homePhone }}
								{% endif %}
							</div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">City:</div>
							<div class="boxContentGroupCellValue">
								{% if customer is not null %}
									{% if customer.city is not null %}
										{{ customer.city.nameAndDetails }}
									{% endif %}
								{% endif %}
							</div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Address:</div>
							<div class="boxContentGroupCellValue">
								{% if customer is not null %}
									{{ customer.address }}
								{% endif %}
							</div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Mailing:</div>
							<div class="boxContentGroupCellValue">
								{% if customer is not null %}
									{{ customer.mailing }}
								{% endif %}
							</div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Credit Card Token:</div>
							<div class="boxContentGroupCellValue">
								{% if customer is not null %}
									{{ customer.creditToken }}
								{% endif %}
							</div>
						</div>
					</div>

					<div class="boxContentHeader">Request Information</div>
					<div class="boxContentGroup">
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">requestEntity:</div>
							<div class="boxContentGroupCellValue">
								{% if requestEntity is not null %}
									{% if requestEntity.service is not null %}
										{{ requestEntity.service.name }}
									{% endif %}
								{% endif %}
							</div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Discount:</div>
							<div class="boxContentGroupCellValue">  {{ form_row(request.rDiscount, {'attr': {'class': 'formElement'}}) }} </div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Porters Wanted:</div>
							<div class="boxContentGroupCellValue">  {{ requestEntity.portersWanted }} </div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Estimated Duration:</div>
							<div class="boxContentGroupCellValue">  {{ requestEntity.estDuration }} min </div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Start Date & Time:</div>
							<div class="boxContentGroupCellValue">  {{ requestEntity.requestStartDateTime|date('Y-m-d H:i') }} </div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Details:</div>
							<div class="boxContentGroupCellValue">  {{ requestEntity.details }} </div>
						</div>
					</div>

					{% if requestEntity.addresses is not empty %}
						{% for address in requestEntity.addresses %}
							<div class="boxContentHeader">Request Address</div>
							<div class="boxContentGroup">
								<div class="boxContentGroupCell">
									<div class="boxContentGroupCellLabel">City:</div>
									<div class="boxContentGroupCellValue">  {{ address.city.nameAndDetails }}  </div>
								</div>
								<div class="boxContentGroupCell">
									<div class="boxContentGroupCellLabel">Address:</div>
									<div class="boxContentGroupCellValue">  {{ address.address }}  </div>
								</div>
								<div class="boxContentGroupCell">
									<div class="boxContentGroupCellLabel">Mailing:</div>
									<div class="boxContentGroupCellValue">  {{ address.mailing }}  </div>
								</div>
								<div class="boxContentGroupCell">
									<div class="boxContentGroupCellLabel">Unit:</div>
									<div class="boxContentGroupCellValue">  {{ address.unit }}  </div>
								</div>
								<div class="boxContentGroupCell">
									<div class="boxContentGroupCellLabel">Context:</div>
									<div class="boxContentGroupCellValue">  {{ address.context }}  </div>
								</div>
								<div class="boxContentGroupCell">
									<div class="boxContentGroupCellLabel">Stepping:</div>
									<div class="boxContentGroupCellValue">  {{ address.stepping }}  </div>
								</div>
							</div>
						{% endfor %}
					{% endif %}

					<div class="boxContentHeader">Worked Details</div>
					<div class="boxContentGroup">
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Actual Start Date & Time:</div>
							<div class="boxContentGroupCellValue">
								{% if requestEntity.porterEndDateTime is not null %}
									{{ requestEntity.porterStartDateTime|date('Y-m-d H:i') }}
								{% endif %}
							</div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Actual End Date & Time:</div>
							<div class="boxContentGroupCellValue">
								{% if requestEntity.porterEndDateTime is not null %}
									{{ requestEntity.porterEndDateTime|date('Y-m-d H:i') }}
								{% endif %}
							</div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Actual Duration:</div>
							<div class="boxContentGroupCellValue">  {{ requestEntity.porterDurationInMin }} min </div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Customer Bill Service:</div>
							<div class="boxContentGroupCellValue">  ${{ requestEntity.billingService|number_format(2, '.', ',') }} CAD </div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Customer Bill Discount:</div>
							<div class="boxContentGroupCellValue">  ${{ requestEntity.billingDiscount|number_format(2, '.', ',') }} CAD </div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Customer Bill Trust Fee:</div>
							<div class="boxContentGroupCellValue">  ${{ requestEntity.billingTrustFee|number_format(2, '.', ',') }} CAD </div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Customer Bill Subtotal:</div>
							<div class="boxContentGroupCellValue">  ${{ requestEntity.billingSubtotal|number_format(2, '.', ',') }} CAD </div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Customer Bill Taxes:</div>
							<div class="boxContentGroupCellValue">  ${{ requestEntity.billingTaxes|number_format(2, '.', ',') }} CAD </div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Customer Bill Total:</div>
							<div class="boxContentGroupCellValue">  ${{ requestEntity.billingTotal|number_format(2, '.', ',') }} CAD </div>
						</div>
					</div>

					{% if request.porterSummaries is not empty %}
						{% for summary in request.porterSummaries %}
							<div class="boxContentHeader">Assigned Porter Details</div>
							<div class="boxContentGroup">
								<div class="boxContentGroupCell">
									<div class="boxContentGroupCellLabel">Porter</div>
									<div class="boxContentGroupCellValue">  {{ form_row(summary.porter, {'attr': {'class': 'formElement'}}) }} </div>
								</div>
								<div class="boxContentGroupCell">
									<div class="boxContentGroupCellLabel">Start Date & Time</div>
									<div class="boxContentGroupCellValue">  {{ form_row(summary.startActivity.activityDateTime, {'attr': {'class': 'formElement'}}) }} </div>
								</div>
								<div class="boxContentGroupCell">
									<div class="boxContentGroupCellLabel">End Date & Time</div>
									<div class="boxContentGroupCellValue">  {{ form_row(summary.endActivity.activityDateTime, {'attr': {'class': 'formElement'}}) }} </div>
								</div>
								{{ form_row(summary.requestId) }}
								{{ form_row(summary.startActivity.id) }}
								{{ form_row(summary.startActivity.porterId) }}
								{{ form_row(summary.startActivity.requestId) }}
								{{ form_row(summary.startActivity.activity) }}
								{{ form_row(summary.endActivity.id) }}
								{{ form_row(summary.endActivity.porterId) }}
								{{ form_row(summary.endActivity.requestId) }}
								{{ form_row(summary.endActivity.activity) }}
							</div>
						{% endfor %}
					{% endif %}
					
				</div>

			</div>

		{% endfor %}
	{{ form_row(listForm.listFunction) }}
	{{ form_end(listForm) }}
{% endblock %}