{% extends 'baseSysFullView.html.twig' %}


{% block title 'Update Countries' %}


{% block boxContainers %}
	{{ form_start(listForm) }}
		{% for country in listForm.entities %}
			{{ form_row(country.id) }}

			<div class="boxContainer">
				<div class="boxHeader">Update Country #{{ country.vars.value.id }}</div>

				<div class="boxContentContainer">

					<div class="boxContentHeader">Details</div>
					<div class="boxContentGroup">
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Name:</div>
							<div class="boxContentGroupCellValue">  {{ form_row(country.name, {'attr': {'class': 'formElement'}}) }} </div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Short Name:</div>
							<div class="boxContentGroupCellValue">  {{ form_row(country.shortName, {'attr': {'class': 'formElement'}}) }} </div>
						</div>
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Currency Code:</div>
							<div class="boxContentGroupCellValue">  {{ form_row(country.currencyCode, {'attr': {'class': 'formElement'}}) }} </div>
						</div>
					</div>

					<div class="boxContentHeader">Misc</div>
					<div class="boxContentGroup">
						<div class="boxContentGroupCell">
							<div class="boxContentGroupCellLabel">Enabled:</div>
							<div class="boxContentGroupCellValue">  {{ form_row(country.enabled, {'attr': {'class': 'formElement'}}) }} </div>
						</div>
					</div>
					
				</div>

			</div>

		{% endfor %}
	{{ form_row(listForm.listFunction) }}
	{{ form_end(listForm) }}
{% endblock %}